//input
.input {
  width:100%;
  height:42px;
  background: #FFFFFF;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 24px;
  color:#333;
  &::placeholder {
    color: #8d8d8d;
    font-weight: 400;
  }
}
.inupt-set {
  strong {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color:#000;
  }
  .view-input {
    position: relative;
    button {
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);
      color:#004097;
      font-size: 12px;
      line-height:14px;
      font-weight: 700;
    }
  }
}

//checkbox
.checkbox {
  position: relative;
  display: inline-block;
  input.round{
    + label {
      + span {
        border-radius: 100%;
      }
    }
    &:checked {
      + label + span::after {
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50% ,-50%);
        width: 16px;
        height: 16px;
        background-color: $blue;
        content: "";
        border-radius: 100%;
      }
    }
  }
  input {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: 0;
    z-index: 1;
  }
  label {
    position: relative;
    display: inline-block;
    padding-left:32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $blue;
  }
  span {
    display: inline-block;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    width:24px;
    height:24px;
    content: '';
    box-sizing: border-box;
    border:1px solid $blue;
  }
}

//select-box
.select-box {
  border-bottom: 1px solid $blue;
  select {
    width:100%;
    height:42px;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size:16px;
    line-height:24px;
    color:#8d8d8d;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  }
  select::-ms-expand {
    display: none;
    }
}
.paging-wrap {
  display:flex;
  margin-top:60px;
  justify-content: center;
  button {
    width:30px;
    height:30px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    + button {
      margin-left:6px;
    }
    @each $obj in first ,last ,prev , next {
      &.#{$obj}{
        @include bg('btn/btn_#{$obj}');
      }
    }
  }
  .number {
    display: flex;
    margin:0 6px;
    button {
      font-style: normal;
      font-size: 18px;
      text-align: center;
      color: #333;
      + button {
        border-left:0;
      }
      &.active {
        background-color:$blue;
        color:$white;
        font-weight: 600;
      }
    }
  }
}

.agree-section{
  strong {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    span {
      color:#E94746;
    }
  }
  .agree-text {
    height:240px;
    padding:30px 32px;
    margin-top:18px;
    overflow: auto;
    background-color: #FAFAFA;
    white-space: pre-line;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #666666;
    }
  }
  .checkbox {
    margin-top:23px;
  }
  + .agree-section {
    margin-top:76px;
  }
}