@import 'mixin';
@import 'common';
@import 'layout';


.profile-wrap {
  display: flex;
  align-items: center;
  .profile-img{
    position: relative;
    margin-right: 16px;
    img {
      width:64px;
      height:64px;
      border-radius: 100%;
      overflow: hidden;
    }
    .btn-edit {
      position: absolute;
      right:0;
      bottom:0;
      width: 24px;
      height: 24px;
      @include bg('btn/btn_edit');
    }
  }
  .info {
    .name {
      font-size: 18px;
      font-weight: bold;
      line-height: 0.89;
      color: #303030;
    }
    .address {
      margin-top:7px;
      font-size: 14px;
      line-height: 1.14;
      color: #b0b0b0;
      font-weight: 300;
    }
  }
  + .counting-wrap {
    margin-top:16px;
  }
}
.counting-wrap {
  display: flex;
  position: relative;
  padding-bottom:24px;
  li {
    width: 33.33%;
    padding:8px 0 12px 0;
    text-align: center;
    span{
      display: block;
      margin-bottom: 12px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
      color: #303030;
    }
    strong {
      font-size: 24px;
      font-weight: bold;
      line-height: 0.67;
      text-align: center;
      color: #303030;
    }
    + li {
      border-left:1px solid #e0e0e0;
    }
  }
  &::after {
    display: block;
    position: absolute;
    left:-16px;
    bottom:0;
    width: calc(100% + 32px);
    height:8px;
    background-color: #f4f4f4;
    content: "";
  }
}
.my-link-list {
  ul {
    li {
      border-bottom:1px solid rgba($color: #979797, $alpha: .2);
      a {
        display: block;
        width: 100%;
        @include bg('btn/btn_arrow_link' ,$pos:right center);
      }
      span {
        display: inline-block;
        padding:16px 0;
        font-size: 16px;
        font-weight: 500;
        color: #000;
      }
    }
    .app {
      position: relative;
      .version {
        position: absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-weight: normal;
        color: #808080;
      }
    }
  }
}

.push-setting {
  li {
      position: relative;
      padding: 16px 0;
      border-bottom:1px solid rgba($color: #979797, $alpha: .2);
      span {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
      }
      .range-box {
        position: absolute;
        right: 0;
        top:50%;
        transform: translateY(-50%);
      }
    }
  }