/*layout*/
html, body { height: 100%; }

.wrapper { position: relative; min-height: 100%; overflow: hidden; }

.input { width: 100%; height: 42px; background: #FFFFFF; border-bottom: 1px solid #e0e0e0; font-size: 16px; line-height: 24px; color: #333; }

.input::-webkit-input-placeholder { color: #8d8d8d; font-weight: 400; }

.input:-ms-input-placeholder { color: #8d8d8d; font-weight: 400; }

.input::-ms-input-placeholder { color: #8d8d8d; font-weight: 400; }

.input::placeholder { color: #8d8d8d; font-weight: 400; }

.inupt-set strong { display: inline-block; margin-bottom: 8px; font-size: 16px; font-weight: 700; line-height: 24px; color: #000; }

.inupt-set .view-input { position: relative; }

.inupt-set .view-input button { position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); color: #004097; font-size: 12px; line-height: 14px; font-weight: 700; }

.checkbox { position: relative; display: inline-block; }

.checkbox input.round + label + span { border-radius: 100%; }

.checkbox input.round:checked + label + span::after { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 16px; height: 16px; background-color: #004097; content: ""; border-radius: 100%; }

.checkbox input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; }

.checkbox label { position: relative; display: inline-block; padding-left: 32px; font-weight: 700; font-size: 14px; line-height: 24px; color: #004097; }

.checkbox span { display: inline-block; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 24px; height: 24px; content: ''; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #004097; }

.select-box { border-bottom: 1px solid #004097; }

.select-box select { width: 100%; height: 42px; border: none; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-size: 16px; line-height: 24px; color: #8d8d8d; font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.select-box select::-ms-expand { display: none; }

.paging-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 60px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.paging-wrap button { width: 30px; height: 30px; background: #FFFFFF; border: 1px solid #E0E0E0; }

.paging-wrap button + button { margin-left: 6px; }

.paging-wrap button.first { background: url("../img/btn/btn_first.svg") no-repeat center/auto; }

.paging-wrap button.last { background: url("../img/btn/btn_last.svg") no-repeat center/auto; }

.paging-wrap button.prev { background: url("../img/btn/btn_prev.svg") no-repeat center/auto; }

.paging-wrap button.next { background: url("../img/btn/btn_next.svg") no-repeat center/auto; }

.paging-wrap .number { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 6px; }

.paging-wrap .number button { font-style: normal; font-size: 18px; text-align: center; color: #333; }

.paging-wrap .number button + button { border-left: 0; }

.paging-wrap .number button.active { background-color: #004097; color: #fff; font-weight: 600; }

.agree-section strong { font-style: normal; font-weight: 600; font-size: 18px; line-height: 24px; color: #666666; }

.agree-section strong span { color: #E94746; }

.agree-section .agree-text { height: 240px; padding: 30px 32px; margin-top: 18px; overflow: auto; background-color: #FAFAFA; white-space: pre-line; }

.agree-section .agree-text p { font-style: normal; font-weight: normal; font-size: 16px; line-height: 24px; color: #666666; }

.agree-section .checkbox { margin-top: 23px; }

.agree-section + .agree-section { margin-top: 76px; }

.wrapper { padding: 76px 16px 90px 16px; }

.fixed-top-btn { position: fixed; left: 0; top: 0; width: 100%; height: 52px; font-size: 16px; line-height: 52px; color: #000; font-weight: 900; text-align: center; background-color: #fff; z-index: 10; }

.fixed-top-btn button { position: absolute; left: 16px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 32px; height: 32px; background: url("../img/btn/img_top_back.svg") no-repeat center/auto; }

.fixed-bottom-btn { position: absolute; left: 0; bottom: 0; width: 100%; height: 56px; background-color: #004097; color: #fff; font-size: 16px; line-height: 56px; font-weight: 700; text-align: center; }

.register-title { display: inline-block; margin-bottom: 64px; font-size: 20px; line-height: 30px; color: #000; font-weight: 900; }

.register-type .box { position: relative; }

.register-type .box input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; }

.register-type .box input:checked + label { background-color: #004097; color: #fff; }

.register-type .box input:checked + label span { color: #fff; }

.register-type .box label { display: block; padding: 22px 0; font-size: 14px; line-height: 20px; color: #004097; text-align: center; border-radius: 16px; border: 1px solid #004097; }

.register-type .box label span { display: inline-block; width: 100%; margin-bottom: 8px; font-size: 16px; line-height: 24px; color: #004097; font-weight: 900; }

.register-type .box + .box { margin-top: 16px; }
/*# sourceMappingURL=register.css.map */