@import 'mixin';
@import 'common';
@import 'layout';

//main
.main {
    .title-main {
        margin-bottom:32px;
        p {
            margin-bottom:8px;
            font-size: 14px;
            font-weight: 500;
            color: #606060;
        }
        strong {
            font-size: 24px;
            line-height: 37px;
            font-weight: bold;
            font-stretch: normal;
            color: #000000;
        }
    }
    .search-wrap {
        margin-bottom:40px;
    }
    .main-desc {
        margin-bottom:16px;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: #000000;
    }
    .category-menu {
        margin-bottom:42px;
        ul {
            width: 100%;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            li {
                flex: 0 0 64px;
                + li {
                    margin-left:8px;
                }
            }
        }
        .category{
            display: inline-block;
            position: relative;
            width: 100%;
            padding-top:72px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #303030;
            img {
                width: 64px;
                height: 64px;
                position: absolute;
                left:50%;
                top:0;
                border-radius:100%;
                transform: translateX(-50%);
                border: 1px solid #f4f4f4;
            }
        }
    }
    .today-menu {
        margin-bottom:42px;
        ul {
            width: 100%;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            li {
                flex: 0 0 120px;
                + li {
                    margin-left:16px;
                }
            }
        }
        .menu-item{
            display: inline-block;
            position: relative;
            width: 100%;
            padding-top:128px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #303030;
            img {
                width: 120px;
                height: 120px;
                position: absolute;
                left:50%;
                top:0;
                transform: translateX(-50%);
                border-radius: 8px;
            }
        }
    }
}