@import 'mixin';
@import 'common';
@import 'layout';

//main
.main {
    .title-main {
        padding-top:16px;
        margin-bottom:32px;
        p {
            margin-bottom:8px;
            font-size: 14px;
            font-weight: 500;
            color: #606060;
        }
        strong {
            font-size: 24px;
            line-height: 37px;
            font-weight: bold;
            font-stretch: normal;
            color: #000000;
        }
    }
    .search-wrap {
        margin-bottom:40px;
    }
    .main-desc {
        margin-bottom:16px;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: #000000;
    }
    .category-menu {
        margin-bottom:42px;
        ul {
            width: 100%;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            li {
                flex: 0 0 64px;
                + li {
                    margin-left:8px;
                }
            }
        }
        .category{
            display: inline-block;
            position: relative;
            width: 100%;
            padding-top:72px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #303030;
            img {
                width: 64px;
                height: 64px;
                position: absolute;
                left:50%;
                top:0;
                border-radius:100%;
                transform: translateX(-50%);
                border: 1px solid #f4f4f4;
            }
        }
    }
    .today-menu {
        margin-bottom:42px;
        ul {
            width: 100%;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            li {
                flex: 0 0 120px;
                + li {
                    margin-left:16px;
                }
            }
        }
        .menu-item{
            display: inline-block;
            position: relative;
            width: 100%;
            padding-top:128px;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #303030;
            img {
                width: 120px;
                height: 120px;
                position: absolute;
                left:50%;
                top:0;
                transform: translateX(-50%);
                border-radius: 8px;
            }
        }
    }
}

.store-section {
    padding:0 16px;
    .store-thumb {
        display: flex;
        align-items: center;
        .tit {
            display: flex;
            flex-direction: column;
            margin-left:16px;
            .category {
                font-size: 14px;
                line-height: 14px;
                font-weight: bold;
                color: #e40065;
            }
            .name {
                display: inline-block;
                margin-top:8px;
                font-size: 20px;
                line-height: 20px;
                font-weight: bold;
                color: #000;
            }   
        }
        img{
            width: 80px;            
            height:80px;
            background-color: #e0e0e0;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    .desc {
        margin-top:16px;
        font-size: 12px;
        font-style: normal;
        line-height: 1.67;
        color: #808080;
    }
    .store-utils {
        display:flex;
        position: relative;
        padding-bottom:16px;
        margin-top:16px;
        &::after {
            display: block;
            position: absolute;
            left:-16px;
            bottom:0;
            width: calc(100% + 32px);
            height:8px;
            content: "";
            background-color: #f4f4f4;
         }
        a {
            display:block;
            width:25%;
            padding-top:48px;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            text-align: center;
            color: #303030;
            @each $obj in call ,heart , location , review {
                &.#{$obj}{
                    @include bg('icon/ico-#{$obj}',$pos:top center);
                }
            }
            + a {
                border-left: solid 1px #e0e0e0;
            }
        }
    }
}

.map-section {
    position: relative;
    left:-16px;
    width: calc(100% + 32px);
    height:240px;
    margin-bottom:24px;
    background-color: #f4f4f4;
    + .counting-wrap {
        &::after {
            display:none;
        }
    }
}
.map-box {
    height: 242px;
    border-radius: 16px;
    background-color: #d8d8d8;
}

//station
.station {
    display: flex;
    height:100%;
    padding:52px 0 0 0;
    .station-map {
        position: relative;
        width: 100%;
        height:100%;
        background: #f4f4f4;
        .location-btn {
            position: absolute;
            width:48px;
            height:48px;
            bottom:24px;
            right:16px;
            @include bg('icon/ico-map');
            
        }
        .marker {
            position: absolute;
            padding-bottom:42px;
            @include bg('icon/ico-marker', $pos:center bottom);
            span {
                display: inline-block;
                width:96px;
                height:32px;
                border-radius: 26px;
                border: solid 1px #0e4997;
                background-color: #fff;
                font-size: 14px;
                line-height:30px;
                font-weight: bold;
                text-align: center;
                color: #004097;
            }
            &.active {
                padding-bottom:74px;
                @include bg('icon/ico-marker_on', $pos:center bottom);
                z-index: 10;
                span {
                    color:$white;
                    background-color:$blue;
                }
            }
        }
    }
    .station-info {
        padding:18px 0 32px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: normal;
        color: #004097;
    }
    .bottom-pop {
        background-color:transparent;
        width: 100%;
        height: auto;
        bottom:0;
        top:auto;
    }
}

//seller
.seller.main {
    .title-main {
        margin-bottom:64px;
    }
    .order-status {
        margin-bottom:40px;
        .counting-wrap {
            padding:8px 0;
            border-radius: 8px;
            margin-bottom: 8px;
            border: solid 1px #e0e0e0;
            &::after {
                display: none;
            }
        }
    }
    .guide-wrap {
        .guide-text {
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            color: #303030;
        }
    }
}
.size-section {
    .sub-tit {
        margin-bottom:73px;
    }
    .size-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .box-img {
            position: relative;
            display: inline-block;
            margin-bottom: 82px;
        }
        .numbering {
            position: absolute;
            &.box-w {
                left:32px;
                bottom:13px;
            }
            &.box-d {
                right:40px;
                bottom:23px;
            }
            &.box-h {
                left:82px;
                bottom:45px;
            }
        }
        .box-tit {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #000;
        }
        .desc {
            margin-top:16px;
            font-size: 16px;
            text-align: center;
            color: #808080;
        }
    }
    .number-list {
        display: flex;
        justify-content: space-between;
        margin-top:40px;
        p {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #808080;
        }
        .numbering {
            margin-right:8px;
        }
    }
}
.category-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height:100%;
    .input-box-wrap {
        padding-left: 0;
    }
    .add-input {
        margin-top:auto;
    }
}