.sub-tit {
  display: inline-block;
  padding-top:24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
}
//numberingf
.numbering {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #f9be00;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #fff;
}
//btnBase
.btn-base {
  display: inline-block;
  width: 100%;
  padding:6px 0;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: rgba(224, 224, 224, 0.2);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #808080;
  .arrow {
    position: relative;
    display: inline-block;
    padding-right: 24px;
    &::after {
      display:block;
      position: absolute;
      right:0;
      top:50%;
      @include bg('btn/btn_drop_arrow' ,$pos: right center);
      width:20px;
      height:20px;
      content: "";
    }
    &.right {
      &::after {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }
}
//input
.input {
  width:100%;
  height:42px;
  background: #FFFFFF;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 24px;
  color:#333;
  border-radius: 0;
  &::placeholder {
    color: #8d8d8d;
    font-weight: 300;
  }
  &.on {
    border-bottom:2px solid $orange;
  }
}
.input-box {
  width: 100%;
  height:40px;
  padding:0 8px;
  font-size: 14px;
  line-height: 1.43;
  color: #000;
  border: solid 1px #e0e0e0;
  &::placeholder {
    color: #747474;
  }
  &:disabled {
    color:#747474
  }
  &.active {
    border-color:$orange;
    color:$orange;
    font-weight: bold;
  }
}
.input-set {
  strong {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color:#000;
  }
  .view-input {
    position: relative;
    button {
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);
      color:#004097;
      font-size: 12px;
      line-height:14px;
      font-weight: 700;
      &.re-select {
        right:16px;
        color:#009c84;
      }
    }
    .seconds {
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);
      color:#4772af;
      font-size: 14px;
      line-height:20px;
      font-weight: 700;
    }
  }
  + .input-set {
    margin-top:24px;
  }
  + .validation-text  {
    display: inline-block;
    margin-top:24px;
  }
  +.checkbox {
    margin-top: 24px;
  }
}

//checkbox
.checkbox {
  position: relative;
  display: inline-block;
  input.round{
    + label {
      + span {
        border-radius: 100%;
      }
    }
    &:checked {
      + label + span::after {
        border-radius: 100%;
        width: 16px;
        height: 16px;
      }
    }
  }
  input{
    + label {
      + span {
        border-radius:4px;
      }
    }
    &:checked {
      + label + span::after {
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50% ,-50%);
        width: 18px;
        height: 18px;
        background-color: $orange;
        content: "";
        border-radius: 2px;
      }
    }
  }
  input {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: 0;
    z-index: 1;
  }
  label {
    position: relative;
    display: inline-block;
    padding-left:32px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $orange;
  }
  span {
    display: inline-block;
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    width:24px;
    height:24px;
    content: '';
    box-sizing: border-box;
    border:1px solid $orange;
  }
  &.single {
    label {
      height:22px;
      padding-left:24px;
    }
  }
}


//select-box
.select-box {
  position: relative;
  border: 2px solid $orange;
  border-radius: 4px;
  &::after {
    display: block;
    position: absolute;
    top:50%;
    right:12px;
    transform: translateY(-50%);
    content: "";
    width: 24px;
    height: 24px;
    @include bg('btn/img_select_arrow' ,$pos:right center,$size: 24px);

  }
  select {
    width:100%;
    height:48px;
    padding:0 8px;
    border: none;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size:18px;
    line-height:24px;
    color:#8d8d8d;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  }
  select::-ms-expand {
    display: none;
    }
    &.type2 {
      border:none;
      &::after {
        @include bg('btn/btn_drop_arrow' ,$pos: right center);
      }
      select {
        height:40px;
        padding:0 8px;
        border:1px solid #e0e0e0;
        font-size: 14px;
        color: #747474;
        
      }
    }
}
//validation
.validation-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #e40065;
}
.paging-wrap {
  display:flex;
  margin-top:60px;
  justify-content: center;
  button {
    width:30px;
    height:30px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    + button {
      margin-left:6px;
    }
    @each $obj in first ,last ,prev , next {
      &.#{$obj}{
        @include bg('btn/btn_#{$obj}');
      }
    }
  }
  .number {
    display: flex;
    margin:0 6px;
    button {
      font-style: normal;
      font-size: 18px;
      text-align: center;
      color: #333;
      + button {
        border-left:0;
      }
      &.active {
        background-color:$orange;
        color:$white;
        font-weight: 600;
      }
    }
  }
}

.search-wrap {
  position: relative;
  background-color: $white;
  .input {
    height:44px;
    padding:0 50px 0 24px;
    border-radius: 26px;
    border: solid 1px #e0e0e0;
  }
  button {
    position: absolute;
    right:16px;
    top:50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    @include bg('btn/btn-search');
  }
}

.review-detail {
  .thumbnail {
    margin-bottom:16px;
    background-color: #e0e0e0;
    border-radius: 16px;
    img {
      width: 100%;
      border-radius: 16px;
    }
  }
  .review-text {
    span {
      display:inline-block;
      margin-bottom:8px;
      font-size: 12px;
      line-height: 12px;
      color: #808080;
    }
    .tit {
      font-size: 16px;
      font-weight: bold;
      color: #000;
    }
    .desc {
      margin-top:14px;
      font-size: 14px;
      line-height: 1.71;
      color: #808080;
    }
  }
  .review-list {
    margin-top:44px;
  }
}
.review-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin:-8px 0 0 -8px;
    li {
      position: relative;
      width: calc(50% - 8px);
      padding-top: 48%;
      margin:8px 0 0 8px;
      background-color:#e0e0e0;
      border-radius: 8px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left:0;
        top:0;
      }
      img {
        width: 100%;
        height:100%;
        border-radius: 8px;
        object-fit: cover;
      }
    } 
  }
}
.accordion-wrap {
  dl {
    dt {
      position: relative;
      padding:16px 0;
      .tit {
        display: inline-block;
        width: 100%;
        margin-bottom:12px;
        font-size: 14px;
        line-height: 1.25;
        color: #303030;
      }
      .date {
        font-size: 12px;
        line-height: 1.17;
        color: #979797;
      }
      &::before {
        display: block;
        position: absolute;
        right:0;
        top:8px;
        width: 32px;
        height: 32px;
        content: "";
        @include bg('btn/btn_arrow_accordion');
        transition: all .3s;
        transform: rotate(180deg);
      }
      &::after {
        display: block;
        position: absolute;
        left:-16px;
        bottom:0;
        width: calc(100% + 32px);
        height:1px;
        content: "";
        background-color: rgba($color: #e8e8e8, $alpha: .2);
      }
      &.active {
        .tit {
          font-weight: 900;
        }
        &::before {
          transform: rotate(0deg);
        }
        + dd {
          display: block;
        }
      }
    }
    dd {
      display: none;
      position: relative;
      left:-16px;
      width: calc(100% + 32px);
      padding:24px 16px;
      background-color:#f4f4f4;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #747474;
      white-space: pre-line;
    }
  }
}
.category-tab {
  display:flex;
  overflow: auto;
  overflow-y: hidden;
  background-color: $white;
  button {
    padding:14px 0 14px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #808080;
    flex: 0 0 96px;
    &.active {
      position: relative;
      color:$orange;
      font-weight: bold;
      &::after {
        display:block;
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        height:4px;
        background-color:$orange;
        content: '';
      }
    }
  }
}
.category-cont {
  display:none;
  &.active {
    display:block;
  }
}
.item-list {
  margin-top:8px;
  border-top:1px solid rgba(151, 151, 151, 0.3);
  li {
    display: flex;
    flex-wrap: wrap;
    position:relative;
    min-height:100px;
    padding: 10px 16px;
    align-items: center;
    border-bottom:1px solid rgba(151, 151, 151, 0.3);
    img {
      flex:0 0 100px;
      width:100px;
      height:100px;
      margin-right:16px;
      border-radius: 8px;
      background-color: rgba(216, 216, 216, 0.5);
    }
    .text-wrap {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      .category {
        margin-bottom:8px;
        font-size: 10px;
        font-weight: bold;
        color: #e40065;
      }
      .menu {
        margin-bottom:10px;
        font-size: 16px;
        font-weight: bold;
        color: #000
      }
      .desc {
        margin-bottom:8px;
        font-size: 14px;
        color: #808080;
        @include ellipse;
      }
      .price {
        display: flex;
        margin-top:8px;
        strong {
          display: inline-block;
          margin-left:auto;
          font-size: 16px;
          font-weight: bold;
          line-height: 16px;
          text-align: right;
          color: #303030;
        }
        span {
          font-size: 12px;
          line-height: 16px;
          color: #303030;
        }
      }
    }
    .checkbox {
      position: absolute;
      right:16px;
      top:14px;
    }
    .cancel-btn {
      position: absolute;
      right:16px;
      top:16px;
      width:16px;
      height:16px;
      @include bg('btn/btn_cancel');
    }
    .btn-group {
      button {
        padding-left:24px;
        font-size: 12px;
        line-height: 24px;
        @each $obj in like , review {
          &.#{$obj}{
            @include bg('btn/btn_#{$obj}' ,$pos:left center);
          }
        }
        + button {
          margin-left:4px;
        }
      }
    }
  }
}
.counting-util {
  display:flex;
  justify-content: center;
  margin-top:24px;
  padding-bottom:24px;
  border-bottom:1px solid #f4f4f4;
  overflow: hidden;
  button {
    width: 40px;
    height:40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    background-color: $orange;
    border-radius: 8px 0 0 8px;
  }
  .count {
    display: inline-block;
    width: 120px;
    line-height: 38px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #004097;
    border-top:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
    + button {
      border-radius: 0 8px 8px 0;
    }
  }
}
.calendar-list {
  display:flex;
  position: relative;
  padding:0 20px;
  left:-16px;
  width:calc(100% + 32px);
  justify-content:center;
  padding-bottom:16px;
  border-bottom: 8px solid #f4f4f4;;
  button {
    span {
      display: inline-block;
      width:100%;
      margin-bottom:6px;
      font-size: 12px;
      line-height: 12px;
      font-weight: 500;
      text-align: center;
      color: #979797;
    }
    strong {
      display: inline-block;
      width:40px;
      height:40px;
      line-height: 40px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      color: #000;
      border-radius: 100%;
    }
    &.selected {
      strong {
        color:$white;
        background-color: $orange;
      }
    }
  }
}
.order-list {
  padding:16px 0;
  .title-top {
    display:flex;
    align-items: center;
    padding-bottom: 12px;
    border-bottom:1px solid #e8e8e8;
    .tit {
      display: inline-block;
      margin-right: 8px;
      font-size: 16px;
      font-family: 'GoyangDeogyangEB';
      line-height: 20px;
      color: #303030;
    }
    .btn {
      margin-left:auto;
      font-size: 12px;
      font-family: 'GoyangDeogyangEB';
      line-height: 12px;
      text-align: center;
    }
    .status {
      padding:5px 10px;
      text-align: center;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      text-align: center;
      color: #fff;
    }
  }
  .btnChange {
    margin-top:16px;
  }
  .thumb {
    display: flex;
    .thumb-img {
      width: 100px;
      height: 100px;
      padding-top:8px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
      }
    }
    .order-info {
      margin-left:16px;
      flex:1 1 auto;
    }
  }
  .order-info {
    margin-top:8px;
    li {
      display: flex;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.67;
      color: #747474;
      span {
        flex: 0 0 72px;
        font-weight: normal;
      }
      + li {
        margin-top:8px;
      }
      &.price {
        p {
          color:#8c189b;
          font-weight: bold;
        }
      }
      &.time {
        p{
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          line-height: 1.67;
          color: #0083c1;
        }
      }
    }
  }
  .btn-group {
    display:flex;
    margin-top:16px;
    button {
      margin:0;
      + button {
        margin-left:8px;
      }
    }
  }
  $colors-data: (
    result: #e40065,
    ready:#f4b322,
    delivery: $orange,
  );
  @each $order, $color in $colors-data {
    &.#{$order}{
      .status {
        background-color:$color;
      }
      .btn {
        color:$color
      }
    }
  }
  + .order-list {
    position: relative;
    &::after {
      display: block;
      position: absolute;
      left:-16px;
      top:0;
      width: calc(100% + 32px);
      height:4px;
      background-color:#e8e8e8;
      content: '';
    }
  }
}
.drop-list-box {
  width: 100%;
  margin-top:10px;
  border-radius: 8px;
  padding:0 16px;
  border: solid 1px #e0e0e0;
  background-color: rgba(224, 224, 224, 0.2);
  button {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    color: #808080;
    span {
      position: relative;
      padding-right:24px;
      &::after {
        display: block;
        position: absolute;
        right:0;
        top:0;
        width:20px;
        height:20px;
        @include bg('btn/btn_drop_arrow' ,$pos: right center);
        content: '';
        transform: rotate(0);
      }
    }
  }
  .list-box {
    display:none;
    padding:8px 0;
    border-top:1px solid #e0e0e0;
  }
  .list-item {
    display:flex;
    span {
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: normal;
      color: #747474;
       + span {
         margin-left: auto;
       }
    }
    + .list-item {
      margin-top:8px;
    }
  }
  &.active {
    button {
      span {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
    .list-box  {
      display:block;
    }
  }
}

.counting-wrap {
  display: flex;
  position: relative;
  padding-bottom:24px;
  li {
    width: 33.33%;
    padding:8px 0 12px 0;
    text-align: center;
    span{
      display: block;
      margin-bottom: 12px;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.33;
      text-align: center;
      color: #303030;
    }
    strong {
      font-size: 24px;
      font-weight: bold;
      line-height: 0.67;
      text-align: center;
      color: #303030;
    }
    + li {
      border-left:1px solid #e0e0e0;
    }
  }
  &::after {
    display: block;
    position: absolute;
    left:-16px;
    bottom:0;
    width: calc(100% + 32px);
    height:8px;
    background-color: #f4f4f4;
    content: "";
  }
}

.file-wrap {
  .file-upload {
    position: relative;
    padding-right: 113px;
    span {
      display: inline-block;
      font-size: 14px;
      line-height: 40px;
      color: #747474;
    }
    .upload-btn {
      position: absolute;
      right:0;
      top:0;
      input {
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      label {
        display: inline-block;
        width:105px;
        height:40px;
        font-size: 12px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        color:#979797;
        border: solid 1px #e0e0e0;
        background-color: rgba(224, 224, 224, 0.2);
      }
    }
  }
  .file-list {
    margin-top:16px;
    ul {
      display: flex;
      flex-wrap: wrap;
      margin:-12px 0 0 -12px;
    }
    .file-img {
      position: relative;
      width: calc(25% - 12px);
      padding-top:22%;
      margin:12px 0 0 12px;
      border-radius: 8px;
      background-color: #e6e6e6;
      img {
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
      .delete-btn {
        position: absolute;
        right:-4px;
        bottom:-4px;
        width: 24px;
        height:24px;
        @include bg('btn/btn_file_delete');
      }
    }
  }
  + .input-box-wrap {
    margin-top:40px;
  }
}
.input-box-wrap {
  position: relative;
  padding-left:72px;
  strong {
    position: absolute;
    left:0;
    top:0;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: normal;
    color: #747474;
  }
  .btn{
    position: absolute;
    right:8px;
    top:50%;
    transform: translateY(-50%);
    width:24px;
    height:24px;
    &.delete {
      @include bg('btn/btn_delete');
    }
    &.edit {
      @include bg('btn/btn_input_edit');
    }

  }
  + .input-box-wrap {
    margin-top:8px;
  }
  + .file-wrap  {
    margin-top:32px;
  }
}
.address-btn {
  width: 100%;
  height:40px;
  margin-top:16px;
  border-radius: 8px;
  border: solid 1px #e0e0e0;
  background-color: rgba(224, 224, 224, 0.2);font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #808080;
}


//range-box
.range-box{
  position: relative;
  width: 44px;
  height: 24px;
  input{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    &:checked {
      +label {
        background-color: $orange;
        span {
          left:0;
          right:auto;
        }
      }
    }
  }
  label {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: solid 1px #b6b6b6;
    background-color: #d8d8d8;
    span {
      display: inline-block;
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
      border-radius: 12px;
      border: solid 1px #b6b6b6;
      background-color: #fff;
      transition: all ease-in-out .1s;
    }
  }
  
}